<a href="https://colab.research.google.com/github/prabuarjunan/AI-ML-NFL-Dataset/blob/master/NFL_Data_Analysis_PA_CSP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
autosave 60

Autosaving every 60 seconds

In [2]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
#installing geopandas
#!pip install --upgrade geopandas

In [4]:
#importing packages for data analysis
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
#import geopandas as gpd
import matplotlib.pyplot as plt

In [5]:
#set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [6]:
#run this cell to mount your Google drive to the notebook; you need to give it access to your SCU Google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
#you will need to copy the pathway to whatever data you want to access
df_CSP  = pd.read_csv('/content/drive/Shareddrives/Python_NFL_Project/Career_Stats_Passing.csv', index_col=1)

In [8]:
df_CSP.head()

,Player Id,Position,Year,Team,Games Played,Passes Attempted,Passes Completed,Completion Percentage,Pass Attempts Per Game,Passing Yards,Passing Yards Per Attempt,Passing Yards Per Game,TD Passes,Percentage of TDs per Attempts,Ints,Int Rate,Longest Pass,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost,Passer Rating
Name,,,,,,,,,,,,,,,,,,,,,,
"Farris, Tom",tomfarris/2513861,NaN,1948,Chicago Rockets,0,--,--,--,0.00,--,--,--,--,--,--,--,--,--,--,--,--,0.00
"Farris, Tom",tomfarris/2513861,NaN,1947,Chicago Bears,9,2,0,0.0,0.20,0,0.0,0.0,0,0.0,0,0.0,--,0,0,0,0,39.60
"Farris, Tom",tomfarris/2513861,NaN,1946,Chicago Bears,11,21,8,38.1,1.90,108,5.1,9.8,1,4.8,2,9.5,--,0,0,0,0,31.50
"Demory, Bill",billdemory/2512778,NaN,1974,New York Jets,1,--,--,--,0.00,--,--,--,--,--,--,--,--,--,--,--,--,0.00
"Demory, Bill",billdemory/2512778,NaN,1973,New York Jets,6,39,12,30.8,6.50,159,4.1,26.5,2,5.1,8,20.5,--,0,0,8,73,22.20

In [9]:
print('Number of Rows in Career_Stats_Passing.csv: ' + str(len(df_CSP)))

Number of Rows in Career_Stats_Passing.csv: 8525

In [10]:
df_CSP.isna().sum()

Player Id                            0
Position                          7414
Year                                 0
Team                                 0
Games Played                         0
Passes Attempted                     0
Passes Completed                     0
Completion Percentage                0
Pass Attempts Per Game               0
Passing Yards                        0
Passing Yards Per Attempt            0
Passing Yards Per Game               0
TD Passes                            0
Percentage of TDs per Attempts       0
Ints                                 0
Int Rate                             0
Longest Pass                         0
Passes Longer than 20 Yards          0
Passes Longer than 40 Yards          0
Sacks                                0
Sacked Yards Lost                    0
Passer Rating                        0
dtype: int64

In [11]:
df_CSP.isna().sum().sum()

7414

In [12]:
df_CSP.describe()
df_CSP.info()

         Year  Games Played  Pass Attempts Per Game  Passer Rating
count 8525.00       8525.00                 8525.00        8525.00
mean  1982.05         10.29                    5.79          32.23
std     23.82          5.31                   10.53          40.49
min   1924.00          0.00                    0.00           0.00
25%   1965.00          6.00                    0.00           0.00
50%   1985.00         12.00                    0.00           0.00
75%   2003.00         15.00                    5.90          64.90
max   2016.00         17.00                   51.00         158.30

<class 'pandas.core.frame.DataFrame'>
Index: 8525 entries, Farris, Tom to Anderson, Bill
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Player Id                       8525 non-null   object
 1   Position                        1111 non-null   object
 2   Year                            8525 non-null   int64
 3   Team                            8525 non-null   object
 4   Games Played                    8525 non-null   int64
 5   Passes Attempted                8525 non-null   object
 6   Passes Completed                8525 non-null   object
 7   Completion Percentage           8525 non-null   object
 8   Pass Attempts Per Game          8525 non-null   float64
 9   Passing Yards                   8525 non-null   object
 10  Passing Yards Per Attempt       8525 non-null   object
 11  Passing Yards Per Game          8525 non-null   object
 12  TD Passes                       8525 non-null   object
 13  Percentage of TDs per Attempts  8525 non-null   object
 14  Ints                            8525 non-null   object
 15  Int Rate                        8525 non-null   object
 16  Longest Pass                    8525 non-null   object
 17  Passes Longer than 20 Yards     8525 non-null   object
 18  Passes Longer than 40 Yards     8525 non-null   object
 19  Sacks                           8525 non-null   object
 20  Sacked Yards Lost               8525 non-null   object
 21  Passer Rating                   8525 non-null   float64
dtypes: float64(2), int64(2), object(18)
memory usage: 1.5+ MB

Annual Quarterback Performance = (passer ratingn * games playedx)Total Games Played that year

In [16]:
PRT = df_CSP['Passer Rating']
GPD = df_CSP['Games Played']
df_CSP.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8525 entries, Farris, Tom to Anderson, Bill
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Player Id                       8525 non-null   object
 1   Position                        1111 non-null   object
 2   Year                            8525 non-null   int64
 3   Team                            8525 non-null   object
 4   Games Played                    8525 non-null   int64
 5   Passes Attempted                8525 non-null   object
 6   Passes Completed                8525 non-null   object
 7   Completion Percentage           8525 non-null   object
 8   Pass Attempts Per Game          8525 non-null   float64
 9   Passing Yards                   8525 non-null   object
 10  Passing Yards Per Attempt       8525 non-null   object
 11  Passing Yards Per Game          8525 non-null   object
 12  TD Passes                       8525 non-null   object
 13  Percentage of TDs per Attempts  8525 non-null   object
 14  Ints                            8525 non-null   object
 15  Int Rate                        8525 non-null   object
 16  Longest Pass                    8525 non-null   object
 17  Passes Longer than 20 Yards     8525 non-null   object
 18  Passes Longer than 40 Yards     8525 non-null   object
 19  Sacks                           8525 non-null   object
 20  Sacked Yards Lost               8525 non-null   object
 21  Passer Rating                   8525 non-null   float64
dtypes: float64(2), int64(2), object(18)
memory usage: 1.7+ MB